header
main.container
	.card.thankyou-card.hidden
		figure.card-figure
			img(src="../assets/illustration-thank-you.svg")
		.card-body
			span.selected-rating
			h2.thankyou-card-title Thank you!
			p We appreciate you taking the time to give a rating. If you ever need more support, don't hesitate to get in touch!
	.card.rating-card
		figure.card-figure
			div
				img(src="../assets/icon-star.svg")
		.card-body
			h1.card-title How did we do?
			p Please let us know how we did with your support request. All feedback is appreciated to help us improve our offering!
			.card-actions
				form.rating
					label(for="rating-1")
						input(type="radio" id="rating-1" name="rating" value="1")
						span 1
					label(for="rating-2")
						input(type="radio" id="rating-2" name="rating" value="2")
						span 2
					label(for="rating-3")
						input(type="radio" id="rating-3" name="rating" value="3")
						span 3
					label(for="rating-4")
						input(type="radio" id="rating-4" name="rating" value="4")
						span 4
					label(for="rating-5")
						input(type="radio" id="rating-5" name="rating" value="5")
						span 5
				div
					button(type="submit").btn.btn-wide submit