@import url("https://fonts.googleapis.com/css?family=Overpass:400,700");

$bg-primary: hsl(25, 100%, 54%);
$bg-primary-focus: hsl(0, 0%, 100%);
$bg-base: hsl(228, 11%, 9%);
$bg-base-content: hsl(215, 20%, 16%);
$bg-neutral: hsl(210, 19%, 18%);
$bg-neutral-focus: hsl(214, 12%, 54%);

$font-base: "Overpass", sans-serif;

body {
  background-color: $bg-base;
  font-family: $font-base;
  display: flex;
  align-items: center;
  height: 100vh;
}

.thankyou-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &-title {
    font-size: 1.25rem;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 15px;
  }
  span {
    background-color: $bg-neutral;
    color: $bg-primary;
    margin-block: 25px 30px;
    max-width: 11.875rem;
    align-self: center;
  }
}

.card {
  background-color: $bg-base-content;
  color: hsl(0, 0%, 100%);
  margin-inline: auto;
  padding: 1.5rem 1.5rem 1.8rem 1.5rem !important;
  width: min(100% - 13.4vw, 25.625rem);
  &-title {
    margin-block: 20px 10px;
  }
}

.card-figure {
  justify-content: flex-start !important;
  div {
    align-self: flex-start;
    background-color: $bg-neutral;
    border-radius: 100%;
    position: relative;
    width: 40px !important;
    height: 40px !important;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.card-body {
  gap: 0 !important;
  padding: 0 !important;
}

.card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
}

.card div:last-of-type {
  width: 100%;
  .btn-wide {
    background-color: $bg-primary;
    border: none;
    border-radius: 1.4rem;
    width: 100%;
    &:hover {
      background-color: $bg-primary-focus;
      color: $bg-primary;
    }
  }
}

.rating {
  justify-content: space-between;
  margin-block: 15px 10px;
  width: 100%;
  label {
    cursor: pointer;
    display: block;
    padding: 30px;
    position: relative;
    padding-left: 20px;
    input {
      display: none;
      &:hover + span {
        background-color: $bg-primary;
        border-color: $bg-primary;
      }
      &:selection + span {
        background-color: $bg-neutral-focus;
        border-color: $bg-neutral-focus;
      }
      &:checked + span {
        background-color: $bg-neutral-focus;
        border-color: $bg-neutral-focus;
      }
    }
    span {
      width: 40px;
      height: 40px;
      position: absolute;
      overflow: hidden;
      background-color: $bg-neutral;
      border-radius: 100%;
      line-height: 3;
      text-align: center;
      font-size: 10pt;
      left: 0;
      top: 50%;
      margin-top: -20px;
    }
  }
}

.hidden {
  display: none;
}
